/* ====================== 1, Setting ====================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    list-style: none;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
}

.padding-tb {
    padding: 128px 0;
}

.mg-auto {
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center !important;
}

html {
    scroll-behavior: smooth;
}