$color-white: #fff;
$color-oranges: rgba(244, 98, 58, 0.9);
$color-hover-oranges: rgb(244, 98, 58);
$font-merriweather-sans: 'Merriweather Sans',
sans-serif;
$font-merriweather: 'Merriweather',
sans-serif;